*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.hero{
	height: 100vh;
	width: 100%;
	background-image: url(../img/honeybunch.jpg);
	background-size: cover;
	background-position: center;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top:50px;
	padding-left: 7%;
	padding-right: 8%;

}
.logo{
	color: #404145;
	font-size: 45px;
	letter-spacing: 1px;
	cursor: pointer;
	transition: transform .4s; 
}
.logo:hover{
	transform: scale(1.2);
}

span{
	color: white;
	}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #CCCC72;
	transition: .4s;
}
.content{
	position: absolute;
	top: 50%;
	right:5%;
	transform: translateY(-50%);

}

h1{
	color: #D2E4EF;
	margin: 20px 0px 20px;
	font-size: 68px;
	transition: transform .4s; 
	cursor: pointer;
}
h1:hover{
	transform: scale(1.2);
	color: #D2E4EF;
}
h3{
	color: #CCCC72;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: white;
	letter-spacing: 2px;
	font-size: 20px;
}
.about{ 
	width: 100%;
	padding: 100px 0px ;
	background-color: black;
 }
 .about img{
 	height:auto ;
 	width: 430px;

 }
 .about-text{
width: 550px;

 }
 .main{ 
 	width: 1130px;
 	max-width: 95%;
 	margin: 0 auto;
 	display:flex;
 	align-items: center;
 	justify-content: space-around;
  }
  .about-text h2 {
  	color: white;
  	font-size: 75px;
  	text-transform: capitalize;
  	margin-bottom: 20px;
  }
  .about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
.beep h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
	transition: transform .4s; 
	cursor: pointer;
	
}
 .beep h5:hover{ 
	transform: scale(1.2);
	color: #f9004d;
  
}
.card .button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;